div {
  background-color: rgb(255, 238, 0); 
  border: 1px solid black; 
  border-radius: 10px;
  padding: 25px;
  position: static;
}

p {
    color:yellow;
}

.relative{
    position: absolute;
    background-color: red;
}

.absolute{
    position: relative;
    background-color: green;
    top: 100px;
    left: 100px;
}